<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hipradeep.learnandroid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LearnAndroid">
        <activity
            android:name=".bottomsheet.BottomSheetActivity"
            android:exported="true" />
        <activity
            android:name=".bottomsheet.TypeBottomSheetActivity"
            android:exported="true" />
        <activity
            android:name=".bottomnavigationbar.BottomNavigationWithNavHostFragmentsActivity"
            android:exported="true" />
        <activity
            android:name=".notifications.NotificationsActivity"
            android:exported="true" />
        <activity
            android:name=".drawernavigations.DrawerWithNavControllerActivity"
            android:exported="true"
            android:theme="@style/Theme.LearnAndroid.NoActionBar" />
        <activity
            android:name=".drawernavigations.CustomDrawerNavigationActivity"
            android:exported="true"
            android:theme="@style/Theme.LearnAndroid.NoActionBar" />
        <activity
            android:name=".drawernavigations.DrawerNavigationViewActivity"
            android:exported="true"
            android:theme="@style/Theme.LearnAndroid.NoActionBar" />
        <activity
            android:name=".bottomnavigationbar.CustomBottomNavigationActivity"
            android:exported="true" />
        <activity
            android:name=".bottomnavigationbar.BottomNavigationViewActivity"
            android:exported="true" />
        <activity
            android:name=".drawernavigations.TypeDrawerNavigationViewActivity"
            android:exported="true" />
        <activity
            android:name=".bottomnavigationbar.TypeBottomNavigationViewActivity"
            android:exported="true" />
        <activity
            android:name=".viewpagers.TypeViewPagerActivity"
            android:exported="true" />
        <activity
            android:name=".viewpagers.ViewPagerWithRecyclerAdapterActivity"
            android:exported="true" />
        <activity
            android:name=".viewpagers.ViewPager2Activity"
            android:exported="true" />
        <activity
            android:name=".viewpagers.ViewPagerActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>